body{
	font-family: "宋体";
	font-size:15px;
	margin:0px;
	color: #000000;
}
ul{
	margin:0;
	padding:0;
}
#header{
	margin: 0 auto;
	width:auto;
	height:100px;
	border: 1px solid #333333;
	background-image:url(../img/heard.jpg);
	padding: 20px 0px 0px 20px;
}
.logo{
	width: 80px;
	height: 80px;
	border: #333333 solid 1px;
	background-image:url(../img/logo.png);
	color:#ffffff;
	text-align:center;
}
#menu{
	margin:3px auto;
	padding:0 20px 0 0;
	width: auto;
	height: 50px;
	border:#333333 solid 1px;
	background:black;	
}
#menu ul{float: right;}
#menu ul li{
	float:left;
	list-style: none;
	height: 20px;
	margin: 10px 0 0 25px;
	padding: 4px;
	border:#FFFFFF solid 2px;
	color:#FFFFFF
}
#menu ul li a{
	 text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
#main{
	background-image:url(../img/heard.jpg);
	margin:0 auto;
	width:auto;
	border:1px solid #333333;
}
  #navigation{
             width: 166px;
            font-family: Arial;
            }
 #navigation ul{
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }
            #navigation li{
                border-bottom: 1px solid #ed9f9f;
                display: inline;
            }
            #navigation li a{
            	height: 37px;
                display: block;
                padding: 20px 5px 5px 0.5em;
                text-decoration: none;
                border-left: 12px solid #711515;
                border-right: 1px solid #711515;
            }
            #navigation li a:link,#navigation li a:visited{
                background-color: #c11136;
                color: #ffffff;
            }
            #navigation li a:hover{
                background-color: #990020;
                color: #ffff00;
            }
.content{
	float:right;
	padding: 10px 0;
	width:1350px;
	height:500px;
	text-align: center;
}
 #tu{
     width:auto;
     margin: 2px;
    } 
#big{
     margin: 0;
     padding: 0;
}      
.clear{clear: both;}
#footer{
	margin: 3px auto;
	width: auto;
	height:70px;
	padding: 20px 0;
	background: black;
	border:#333333 solid 1px;
	color:#FFFFFF;
	text-align: center;
}
